extends layouts/default

block stylesheets
  style.
    canvas {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }

block javascripts
  script(src='/static/javascript/dashboard.js')

block content
  .container
    .jumbotron
      h3 CFD

      form
        .form-group
          label(for='projects') Project
          select.form-control#projects(required)

        button.btn.btn-primary#load-cfd(type='submit') Load

      br
      canvas#cfd
