extends layouts/default

block stylesheets
  style.
    canvas {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }

block javascripts
  script(src='/static/javascript/dashboard.js')

block content
  .container

    include components/column-manager
    include components/label-manager
    include components/report-controls

    #accordion(role='tablist')
      .card
        .card-header#heading_cfd(role='tab')
          h5.mb-0
            a#cfd_card(data-toggle='collapse' href='#collapseCfd' aria-expanded='true' aria-controls='collapseCfd') CFD
        .collapse.show#collapseCfd(role='tabpanel' aria-labelledby='heading_cfd' data-parent='#accordion')
          .card-body
            canvas#cfd

      .card
        .card-header#heading_lead_time(role='tab')
          h5.mb-0
            a#lead_time_card(data-toggle='collapse' href='#collapseLeadTime' aria-expanded='true' aria-controls='collapseLeadTime') Lead Time
        .collapse#collapseLeadTime(role='tabpanel' aria-labelledby='heading_lead_time' data-parent='#accordion')
          .card-body
            canvas#lead_time

      .card
        .card-header#heading_wip(role='tab')
          h5.mb-0
            a#wip_card(data-toggle='collapse' href='#collapseWip' aria-expanded='true' aria-controls='collapseWip') WIP
        .collapse#collapseWip(role='tabpanel' aria-labelledby='heading_wip' data-parent='#accordion')
          .card-body
            canvas#wip
