extends ../layouts/default

block stylesheets

block javascripts

block content
  .container
    form
      .form-group
        if is_authenticated
          a(href='/auth/githubtoken' class='btn btn-secondary btn-lg btn-block')
            | Renew token
          a(href='/auth/deauthenticate' class='btn btn-danger btn-lg btn-block')
            | Logout
        else
          a(href='/auth/githubtoken' class='btn btn-secondary btn-lg btn-block')
            | Login with GitHub
